body {
	background-color: #3498db;
	color: #fff;
	padding:  0 0 50px 0;
}
.bg {
	background-image: url(https://i.imgur.com/i5zElCL.png);
	height: 300px;
	background-size: cover;
	background-position: center calc(70%);
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
span.text-muted {
	color: #fff !important;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: none;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
  position:fixed;
  right:2%;
  top:2%;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}